html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: url(./rover.gif) no-repeat fixed 0 0;
  background-size: cover;
  color:  #d5d5d5;
}

h1 {
  font-weight: 800;
  margin-top: 0.5em;
}

h2 {
  text-transform: uppercase;
}

#site_description {
  color: #667;
  font-weight: 300;
}

#wrapper {
  width: 1024px;
  border: 4px solid #000;
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 1em;
  background-color:  #000;
  opacity: 0.93;
}

#top {
  background: url(/themes/sf2sd/header.jpg);
  width: 1024px;
  height: 148px;
  color: #000;
  font-family: 'American Typewriter', Courier;
}

#top h1 {
	display:  none;
}

#top h2 {
   float: right;
   position: relative;
   clear: both;
   color: #472a3a;
   letter-spacing: 0.2em;
   padding-right: 8px;
   font-size: 18px;
   margin: 0;
   font-weight: 500;
}

nav {
    float: right;
    font-weight:  bold;
    padding: 4px;
    padding-right: 8px;
}

nav a {
	color: #000;
}
nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

nav li {
 	display: inline;
 	padding-left: 1em;
}

#left {
  width: 200px;
  max-width: 200px;
  height: 100%;
  float:  left;
}

#left a {
	color: #b17db4}

#left p {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 90%;
	text-align: center;
}

#me {
	margin-top: 2em;
	font-size: 90%;
}

#me img {
	border: 3px solid #270a1a;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#progress {
	padding: 0.5em;
	border: 2px solid #222;
	margin: 1em;
	background-color: #cecece;
	color: #cecece;
}

#progress img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#progress p {
	font-size: 90%;
	padding: 0;
	color: #000;
}

#days_left {
	background-color: #222;
	padding: 0.5em;
	margin: 1em;
}

#days_left h3 {
	font-family:  "Impact";
	font-size: 600%;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

#days_left p {
	margin: 0;
	padding: 0;
}

#right {
  padding: 8px;
  margin-left: 200px;
background: -moz-linear-gradient(top, #000000 0%, #090909 13%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(13%,#090909));
background: -webkit-linear-gradient(top, #000000 0%,#090909 13%);
background: -o-linear-gradient(top, #000000 0%,#090909 13%);
background: -ms-linear-gradient(top, #000000 0%,#090909 13%);
background: linear-gradient(to bottom, #000000 0%,#090909 13%);
}

#content {
	padding: 8px;
        min-height: 800px;
}

#content h1 {
  font-size: 250%;
  margin: 0;
  padding: 0;
  margin-top: 0.1em;
}

#content article {
  display: block;
  line-height: 1.6em;
  font-size: 16px;
}

#content .post {
  display: block;
  font-family: Arial, Verdana, sans-serif;
}

.post ul {
  margin-left: 3em;
}

.post p {
  width: 48em;
  margin-right: auto;
}

#content a {
}

#content h1 a {
	font-family: 'Luckiest Guy', cursive;
	font-family: "Impact";
	color:  #fff;
}

.date {
	letter-spacing: 2px;
	font-size: 12px;
	color: #666;
}

#id a {
  color: #fff;
}


.comment_info {
	font-family:  "Impact";
}

#content a.comment_count {
  display: block;
  float: right;
  position: relative;
  width: 10em;
  font-size: small;
  color: #FFF;
}

#content .comment_count:after {
  content: " \2234";
  color: #D5D5D5;
}

#content .comment_count:hover {
  color: #999;
}

header .author {
  display: none;
}

.more {
  padding-top: 1em;
}

.more:after {
  content: " \00BB";
  font-style: italic;
  color: #999;
}

#sitelogo img {

}

.caption {
  display: inline-block;
  margin-bottom: .5em;
  background: #000;
  padding: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#content .caption p {
  margin: 0;
  padding: 0;
  border: 0;
  color: #999;
  font-size: small;
  text-align: right;
  width: 99%;
  max-width: 100%;
  margin-right: 1em;
  font-family:  "Courier New", Courier, monospace;
}

#links {

}

#links ul {

}

#links li {

}

#links a {

}

#footer {
  position: fixed;
  bottom: 1em;
  /* TODO(tstromberg): Add real centering */
  left: 5em;
  width: 100%;
  font-size: small;
  font-weight: 300;
}

#footer a {
  text-decoration: underline;
}

#disqus_thread {
  padding: 1em;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: 2em;
  background-color: #FFFFFD;
  border: 1px solid #999;
  max-width: 870px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#admin {
  padding: 3em;
}

#entries td {
  background-color: #FFF;
}

/* formatting textarea */
#edit_content {
  width: 800px;
  height: 400px;
}




