{{ define "content" }}
  {{ range .Entries }}
          <article>
            <header>
            <h1><a href="{{$.BaseUrl}}{{.RelativeUrl}}">{{.Title}}</a>
                <span class="chevron"><a class="comment_count" href="{{$.BaseUrl}}{{.RelativeUrl}}#disqus_thread"></a></span>
            </h1>
              
              <div class="author">{{.Author}}</div>
              <div class="date">{{.Year}}-{{.Month}}-{{.Day}}</div>

            </header>
            <p>{{.Excerpt }}</p>
            {{ if .IsExcerpted }}
            <div class="more"><a href="{{$.BaseUrl}}{{.RelativeUrl}}">Read more</a></div>
            {{ end }}
          </article>
  {{ end }}

  <script type="text/javascript">
  var disqus_shortname = '{{.DisqusId}}';
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
{{ end }}
