{{ define "content" }}

<script type="text/javascript" src="/third_party/jquery/jquery.js"></script>
<script type="text/javascript" src="/third_party/jquery-slug/jquery.slug.js"></script>
<script type="text/javascript" src="/third_party/wymeditor/jquery.wymeditor.min.js"></script>

  <form action="/submit" method="post">
  {{ range .Entries }}
      <div>Title: <input type="text" name="title" value="{{.Title}}"/></div>
      <input type="hidden" name="slug" value="{{.Slug}}"/>
      <div><textarea name="content" rows="40" cols="60" class="wymeditor">{{.Content}}</textarea></div>
  {{ else }}
      <div>Title: <input type="text" id="title" name="title"/></div>
      <div>Slug: <input type="text" id="slug" name="slug"/></div>
      <div><textarea name="content" rows="40" cols="60" class="wymeditor"></textarea></div>

      <script>
        $('#title').keyup(function() {
          slug = $.slug( $(this).val() );
          $('#slug').val(slug);
        });
      </script>
  {{ end }}
      <div><input type="submit" value="Add Entry" class="wymupdate"></div>
  </form>
  
  
<script>
  jQuery(function() {
    jQuery('.wymeditor').wymeditor();
  });
</script>


  
{{ end }}


