{{ define "content" }}
  {{ range .Entries }}
          <article>
            <header>
              <a href="{{.Url}}"><h1>{{.Title}}</h1></a>
              <div class="author">{{.Author}}</div>
              <div class="date">{{.Year}}-{{.Month}}-{{.Day}}</div>
            </header>
            <p>{{.Content}}</p>
          </article>

          <div id="disqus_thread"></div>
  {{ end }}
  <script type="text/javascript">
    var disqus_shortname = '{{.DisqusId}}';
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to comments</noscript>
{{ end }}

