<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{.Title}}</title>
  <subtitle>{{.SubTitle}}</subtitle>
  <link href="{{.BaseUrl}}/feed/" rel="self" />
  <updated>{{.PageTimeRfc3339}}</updated>
  <id>{{.BaseUrl}}</id>
  {{ range .Entries }}
  <entry>
  <title>{{.Title}}</title>
    <link href="{{$.BaseUrl}}{{.RelativeUrl}}"></link>
    <id>{{$.BaseUrl}}{{.RelativeUrl}}</id>
    <updated>{{.RfcDate}}</updated>
    <summary type="html">{{.EscapedExcerpt}}</summary>
    <author><name>{{.Author}}</name></author>
  </entry>
  {{ end }}
</feed>
