<!DOCTYPE html>
<html>
<head>
  <title>{{ .PageTitle }} - {{ .SiteTitle }}</title>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans:300italic,400,300,600,700,800|Merriweather:400,900,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/themes/{{.SiteTheme}}/style.css">
</head>
<body>
  <div id="wrapper">
    <header id="left">
    <div id="sitelogo"><a href="{{.BaseURL}}"><img src="/themes/{{.SiteTheme}}/sprocket.jpg" alt="Site Logo"></a></div>
      <h1>{{ .SiteTitle }}</h1>
      <h2>{{ .SiteSubTitle }}</h2>
      <p id="site_description">{{ .SiteDescription }}</p>
      <nav id="links">
      <ul>
        {{ range .Links }}
        <li>
          <a href="{{.URL}}">{{.Title}}</a>
        </li>
        {{ end }}
      </ul>
      </nav>
      <footer><a href="https://github.com/tstromberg/verbalize">verbalize</a> {{.Version}}</footer>
    </header>

    <div id="right">
      <section id="date">
      <h3>
        <script>
          date = new Date({{.PageTimestamp}});
          document.write(date.toLocaleDateString());
        </script>
      </h3>
      </section>

      <div id="content">
        {{ template "content" . }}
      </div>

      </div>
  </div>
  {{ template "scripts" . }}
</body>
</html>
